# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Ruff cache
.ruff_cache/

# VS Code settings
.vscode/

# Data files
data/raw/
data/processed/

# External API
VitesseAPI/