attrs
certifi
charset-normalizer
contourpy
cycler
cyclopts
docstring_parser
fonttools
idna
kiwisolver
markdown-it-py
matplotlib
mdurl
numpy
packaging
pandas
pillow
pip
platformdirs
pooch
Pygments
pyparsing
pyserial
python-dateutil
pytz
pyvista
requests
rich
rich-rst
scipy
scooby
setuptools
six
tabulate
tomli
typing_extensions
tzdata
urllib3
vtk
wheel
xarm-python-sdk